@layer theme, base, components, primereact, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import 'primeicons/primeicons.css';
        
@source "../node_modules/primereact/passthrough/tailwind";

:root {
  --background: #ffffff;
  --foreground: #1c1b1d;
  --header-height: 70px;
  --section-height: calc(100vh - var(--header-height));
}

/* 
 colors here follow the materials design https://m3.material.io/styles/color/roles 
 but instead of on-primary we use primary-foreground
*/
@theme { 
  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-fade-out: fade-out 0.3s ease-out;
  --animate-backdrop-fade-in: backdrop-fade-in 0.3s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
      display: none;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
      display: block;
    }

    100% {
      opacity: 0;
     transform: translateY(-100%);
      display: none;
    }
  }

  @keyframes backdrop-fade-in {
    0% {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
    }

    100% {
      background-color: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(16px);
    }
  }


}

@theme inline {
  --color-primary-100: var(--color-red-100);
  --color-primary-200: var(--color-red-200);
  --color-primary-300: var(--color-red-300);
  --color-primary: var(--color-red-500);
  --color-primary-700: var(--color-red-700);
  --color-primary-900: var(--color-red-900);
  --color-primary-900-4: oklch(0.971 0.0054 17.25); /* this is the same as bg-primary-900/4 but I need it to not have opacity*/
  --color-primary-foreground: var(--color-white);

  --color-secondary: var(--color-yellow-500);
  --color-secondary-600: var(--color-yellow-600);
  --color-secondary-700: var(--color-yellow-700);
  --color-secondary-800: var(--color-yellow-800);
  --color-secondary-900: var(--color-yellow-900);
  --color-secondary-foreground: var(--color-white);
 
  --color-tertiary: var(--color-black);
  --color-tertiary-foreground: var(--color-white);

  --color-surface: var(--background);
  --color-surface-foreground: var(--foreground);

  --font-primary: var(--font-nanum-pen-script);
  --font-main: var(--font-roboto);
}

@layer base {
  dialog {
    margin: auto;
  }
}

@layer components {
  .cta {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 5px;
      bottom: 0;
      right: 0;
      border-radius: 9999px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4px' viewBox='0 0 90 2'%3E%3Cpath fill='white' d='M88.6,0.3c-6.7-0.3-13.5-0.1-20.2,0c-6.8,0-13.5,0-20.3-0.1C41.4,0.1,34.6,0,27.9,0 C21.1,0.1,14.4,0.1,7.6,0.1c-6.7,0-10.9,1.6-4.3,1.7c13.3,0.1,26.5-0.1,39.7,0C50.5,1.9,57.9,2,65.3,2c3.8,0,7.6,0,11.4-0.1 c3.8,0,7.6,0,11.4-0.1C90,1.8,91,0.4,88.6,0.3z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 9999px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14px' viewBox='0 0 180 18'%3E%3Cpath fill='%23920707' d='M170,16.1c0.2-1,0.4-2,0.9-3c0.5-0.9,1-1.9,1.6-2.7c0.7-0.9,1.4-1.7,2.2-2.5c1-1.1,2.3-2.3,3.9-1.9 c0.8,0.2,1.2,0.8,1.3,1.5c0.2,1.1-0.7,2.2-1.4,2.9c-0.3,0.3-0.6,0.6-0.8,0.8c-0.8,0.8-1.5,1.7-2.1,2.6c-0.3,0.5-0.7,1-1,1.5 c-0.1,0.2-0.1,0.2,0.1-0.2c-0.1,0.2-0.2,0.4-0.4,0.6c-0.1,0.1-0.2,0.2-0.2,0.3c-0.2,0.3-0.3,0.5-0.5,0.8c-0.5,0.8-1.5,1.1-2.4,0.9 C170.4,17.8,169.9,16.9,170,16.1z M157.4,17.9c0.9-0.3,1.6-1,1.7-2c0,0,0-0.1,0-0.2c0,0,0,0,0-0.1c0-0.1,0-0.1,0.1-0.2 c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.1,0-0.1c0-0.1,0.1-0.1,0.1-0.2c0.2-0.6,0.5-1.2,0.7-1.8c0.1-0.2,0.3-0.9,0.4-0.9 c-0.2,0.3-0.2,0.4-0.1,0.2c0-0.1,0.1-0.2,0.1-0.2c0.1-0.2,0.2-0.3,0.3-0.5c0.4-0.6,0.7-1.2,1.1-1.8c0.4-0.6,0.8-1.1,1.2-1.7 c0.2-0.3,0.4-0.5,0.6-0.8c0.1-0.1,0.2-0.2,0.3-0.4c0.5-0.6,1-1.2,1.5-1.8c0,0,0,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1 c0.5-0.6,1.1-1.3,1.1-2.3c0.1-1.5-0.7-2.4-2.1-2.6c-1.6-0.2-3.3,1.7-4.3,2.9c-1.1,1.3-2.2,2.7-3.1,4.2c-0.8,1.4-1.6,3-2.1,4.6 c-0.5,1.7-0.6,3.5-0.1,5.2C155.5,17.8,156.7,18.2,157.4,17.9z M137,17.9c0.8-0.3,1.6-1.2,1.4-2.1c0-0.2-0.1-0.4-0.1-0.5 c0-0.1,0-0.1,0-0.1c0,0,0,0,0,0c0-0.1,0-0.3,0.1-0.4c0-0.1,0-0.2,0-0.2c0-0.1,0.1-0.2,0.1-0.3c0,0,0-0.1,0-0.1 c0.1-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.1-0.3,0.2-0.4c0-0.1,0.1-0.2,0.1-0.3c0,0.1-0.1,0.1-0.1,0.2c0-0.2,0.4-0.7,0.6-0.9 c0.2-0.3,0.4-0.6,0.6-0.8c0.3-0.4,0.7-0.8,1-1.2c0.7-0.9,1.4-1.8,2.1-2.7c0.1-0.1,0.2-0.2,0.2-0.3c0.2-0.2,0.4-0.3,0.5-0.5 c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.1,0.1-0.1-0.1,0c-0.4,0.3-0.3,0.2,0.4-0.3c0.2-0.2,0.5-0.4,0.6-0.6c0.7-1.1,0.7-2.3-0.4-3.1 c-0.9-0.7-2.6-0.3-3.5,0.2c-0.7,0.4-1.4,0.9-1.9,1.5c-1.1,1.1-1.9,2.3-2.8,3.6c-1.8,2.7-4.2,6.2-2.2,9.4 C135.2,17.9,136.1,18.2,137,17.9z M118.8,17.9c0.7,0.3,1.7,0,2.2-0.7c0.5-0.8,1-1.6,1.6-2.3c0.5-0.6,1-1.3,1.5-1.9 c0.7-0.7,1.5-1.5,1.7-2.4c0.2-0.7,0.2-1.4-0.3-2c-0.4-0.5-1.3-0.8-1.9-0.5c-0.6,0.2-1.2,0.5-1.7,1c-0.3,0.4-0.7,0.7-1,1.1 c-0.4,0.5-0.8,1.1-1.1,1.6c-0.8,1.3-1.3,2.6-1.8,4.1C117.9,16.7,118,17.5,118.8,17.9z M105.5,18c0.9,0.1,2.1-0.5,2.4-1.4 c0.2-0.6,0.4-1.1,0.7-1.6c0.1-0.2,0.2-0.4,0.4-0.6c-0.1,0.2-0.2,0.3-0.3,0.5c0.4-0.8,0.9-1.5,1.5-2.1c0.3-0.4,0.7-0.7,1-1.1 c-0.1,0.2-0.3,0.3-0.4,0.5c0.3-0.3,0.7-0.7,0.9-1c0.4-0.7,0.6-1.5,0.1-2.3c-0.4-0.6-1.3-1-2.1-0.8c-0.3,0.1-0.6,0.2-0.9,0.4 c-0.3,0.2-0.6,0.4-0.8,0.6c-0.4,0.3-0.7,0.7-1.1,1.1c-0.4,0.5-0.8,1-1.2,1.5c-0.4,0.7-0.9,1.4-1.1,2.2c-0.2,0.7-0.4,1.5-0.5,2.3 C103.9,17,104.5,17.9,105.5,18z M92.7,17.8C93,18,93.4,18,93.8,18c0.9-0.1,1.7-0.9,1.8-1.8c0-0.1,0-0.2,0.1-0.3 c0.1-0.3,0.2-0.5,0.3-0.8c0.2-0.3,0.3-0.5,0.5-0.8c0.2-0.3,0.4-0.5,0.6-0.8c0.1-0.1,0.1-0.1,0.2-0.2c0.4-0.4,0.7-0.8,0.8-1.4 c0-0.4,0-0.8-0.2-1.2c-0.5-0.8-1.6-1-2.4-0.5c-0.5,0.3-1,0.7-1.4,1.1c-0.3,0.3-0.6,0.6-0.8,0.9c-0.2,0.3-0.4,0.7-0.5,1 c-0.5,1.1-0.6,2.2-0.6,3.4C92,17.1,92.4,17.6,92.7,17.8z M72.8,18c0.2,0.1,0.4,0.1,0.6,0c0.3-0.1,0.7-0.4,0.8-0.7 c0.4-0.9,0.9-1.7,1.5-2.5c0.3-0.4,0.6-0.8,0.9-1.2c-0.1,0.2-0.2,0.3-0.3,0.5c0.2-0.3,0.4-0.6,0.7-0.8c0.2-0.2,0.4-0.5,0.6-0.8 c0-0.1,0.1-0.1,0.1-0.2c0.1-0.3,0.2-0.5,0.3-0.8c0,0,0,0.1,0,0.1c0-0.1,0-0.2,0.1-0.3c0.1-0.6,0.2-1.1-0.1-1.6 C77.6,9.3,77.2,9,76.7,9c-0.4,0-0.9,0.1-1.3,0.4c-0.2,0.2-0.5,0.3-0.6,0.5c-0.2,0.2-0.4,0.5-0.6,0.8c-0.4,0.6-0.8,1.3-1.1,2 c-0.5,1.2-0.9,2.5-1.1,3.8C71.9,17.1,72.3,17.8,72.8,18z M67.2,7.1C67.3,7,67.3,7,67.2,7.1C67.1,7.1,67.1,7.2,67.2,7.1z M67.3,7 C67.3,7,67.3,7,67.3,7c0.1-0.1,0.1-0.1,0.2-0.2C67.4,6.9,67.3,7,67.3,7z M62.2,15.5c0,0-0.1-0.1-0.1-0.2c0,0,0,0,0-0.1 c0-0.1,0-0.2,0-0.3c0-0.1,0-0.1,0-0.2c0-0.2,0-0.1,0,0.2c-0.1-0.1,0.1-0.5,0.1-0.7c0-0.1,0.1-0.3,0.1-0.4c0,0,0,0,0,0.1c0,0,0,0,0,0 c0.2-0.5,0.4-1,0.6-1.5c0.1-0.3,0.3-0.5,0.4-0.7c0,0,0,0,0,0c0.1-0.1,0.2-0.3,0.2-0.4c0.6-1,1.4-1.8,2.2-2.7 c0.1-0.1,0.1-0.1,0.2-0.2c0.2-0.2,0.4-0.3,0.6-0.5c0.1-0.1,0.2-0.2,0.3-0.3c-0.1,0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2 c0.1-0.1,0.2-0.2,0.3-0.3c0.5-0.5,0.8-1.1,0.6-1.9C67.7,4.4,67.1,4,66.3,4c-1.6,0-3,0.9-4,1.9c-1.2,1.1-2.1,2.4-2.9,3.9 c-1.3,2.3-2.2,5.5-0.3,7.7C60.3,18.9,62.9,17.1,62.2,15.5z M62.2,13.9C62.1,14.1,62.1,14.3,62.2,13.9L62.2,13.9z M41.9,18 c0.9-0.1,1.6-0.9,1.8-1.9c0.1-0.4,0.1-0.9,0.2-1.3c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2,0.1-0.3c0-0.2,0.1-0.5,0.1-0.7 c0-0.1,0-0.2,0.1-0.3c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0-0.2,0-0.1,0,0c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.5,0.3-0.9,0.5-1.4 c0.1-0.2,0.2-0.4,0.2-0.6c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0C45.5,9.8,45.7,9.4,46,9c0.2-0.4,0.5-0.7,0.7-1.1c0,0,0,0,0,0 c0.1-0.2,0.3-0.3,0.4-0.5c0.1-0.2,0.3-0.4,0.4-0.6c0.6-0.8,0.7-2.2,0-3c-0.7-0.8-1.8-1-2.7-0.4c-0.2,0.1-0.4,0.3-0.6,0.4 c-0.6,0.4-0.9,0.8-1.3,1.4c-0.3,0.4-0.6,0.8-0.8,1.2c-0.6,1-1.1,2.2-1.4,3.3c-0.3,1.1-0.5,2.3-0.7,3.4c-0.1,1.2-0.1,2.3,0.2,3.5 C40.4,17.5,41.1,18.1,41.9,18z M44.3,13C44.3,13,44.3,12.9,44.3,13C44.3,12.9,44.3,13,44.3,13C44.3,13,44.3,13,44.3,13z M25.5,18 c0.7-0.1,1.4-0.8,1.5-1.7c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.2,0.1-0.3c0.1-0.4,0.3-0.9,0.5-1.3c-0.1,0.2-0.2,0.3-0.2,0.5 c0.1-0.2,0.2-0.3,0.2-0.5c0.3-0.6,0.6-1.2,1-1.7c0.2-0.2,0.4-0.5,0.6-0.7L29,12.1c0.1-0.2,0.3-0.3,0.4-0.5c0.3-0.4,0.5-0.9,0.6-1.4 C30,9.7,29.9,9,29.6,8.6C29.3,8.2,28.9,8,28.4,8c-1.1-0.1-2.1,1.1-2.7,2.1c-0.4,0.7-0.8,1.4-1,2.1c-0.5,1.4-0.8,3-0.6,4.4 C24.1,17.6,24.8,18.1,25.5,18z M12.8,18c0.8,0.2,1.5-0.3,1.8-1.1c0.3-0.6,0.5-1.3,0.8-1.9c-0.1,0.1-0.1,0.3-0.2,0.4 c0.1-0.2,0.2-0.4,0.3-0.6c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.2,0.1-0.4,0.2-0.7c0,0.1-0.1,0.3-0.1,0.4 c0-0.2,0.1-0.4,0.1-0.5c0-0.5-0.1-0.9-0.4-1.2c0,0-0.1,0-0.1-0.1c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0-0.1,0-0.1-0.1c0,0,0,0,0,0 c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c0,0,0,0-0.1,0c-0.1,0-0.1,0-0.2,0c0,0,0,0-0.1,0 c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.2c-0.4,0.2-0.6,0.5-0.9,0.8c-0.2,0.4-0.4,0.8-0.6,1.2c-0.2,0.6-0.4,1.2-0.5,1.9 c-0.1,0.4-0.2,0.8,0,1.1C12.2,17.6,12.5,17.9,12.8,18z M0.5,17.2C0.7,17.6,1,17.9,1.4,18c0.3,0.1,0.7,0,1-0.1c0.7-0.3,1.4-1,1.2-1.8 c0-0.2,0-0.3-0.1-0.5c0-0.1,0-0.2,0-0.3c0.1-0.1,0.1-0.3,0.2-0.4c0.2-0.4,0.5-0.8,0.8-1.1c-0.1,0.1-0.3,0.3-0.4,0.4 c0.3-0.3,0.6-0.6,0.8-0.9c0.1-0.2,0.3-0.4,0.5-0.5c0,0,0,0,0,0C5.7,12.5,6,12.1,6,11.7c0-0.4,0-0.7-0.2-1C5.3,10,4.3,9.8,3.5,10.2 c-0.2,0.1-0.4,0.2-0.6,0.4c-0.3,0.2-0.5,0.3-0.7,0.5c-0.2,0.2-0.4,0.4-0.6,0.6c-0.4,0.5-0.8,1-1.1,1.6C0.1,14,0,14.7,0,15.5 C0,16.1,0.2,16.7,0.5,17.2z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }

  .scrollYWithoutScrollbar {
    /* height: 100%; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    &::-webkit-scrollbar {
      display: none;
      /* for Chrome, Safari, and Opera */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
